<div class="box">
			Hello World!
		</div>
		<button #console-log> Click Me! </button>
		<!-- Scripts -->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<!-- <script type=text/javascript src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script> -->
			<script type="text/javascript" src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='assets/js/x.script.js') }}"></script>
